{% extends 'base.html' %}

{% block title %}Product Inventory{% endblock %}

{% block content %}
<h1>Product Inventory</h1>

<a href="/add" class="btn">+ Add Product</a>

<table>
    <tr>
        <th>ID</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price (₹)</th>
        <th>Action</th>
    </tr>

    {% for product in products %}
    <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.price }}</td>
        <td>
            <a href="/edit/{{ product.id }}" class="btn">Edit</a>
            <a href="/delete/{{ product.id }}"
            class="btn btn-danger"
            onclick="return confirm('Delete this product?')">Delete</a>
</td>
    
    {% endfor %}
</table>
{% endblock %}
